body {
    background-color: rgb(174, 222, 180);
    font-family: fantasy;
    /* font-weight: bolder; */
    font-style: oblique;
    line-height: 1.25;
    font-size:larger;
}

#main {
    border-style: dashed;
    border-color: rgb(252, 115, 136);
    border-width: 5px;
    /* display: flex;
    justify-content: center */
    display: inline-block;
    /* float: left; */
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    width: 120px;
}

#sidebar {
    border-style:dashed;
    border-color: rgb(252, 115, 136);
    border-width: 5px;
    /* display: flex;
    justify-content: center; */
    display: inline-block;
    /* float: left; */
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    width: 120px;
}


.menu {
    color: rgb(131, 78, 78);
    /* font-size: larger; */
}

h1 {
    font-style: oblique;
    font-family: fantasy;
    color: rgb(131, 78, 78);
    text-align: center;
}


h2 {
    font-style: oblique;
    font-family: fantasy;
    color: rgb(131, 78, 78);
    text-decoration:underline;
}

/* #container {
    display: flex;
}

#main {
    width: 70%;
}

#sidebar {
    width: 30%;
} */

@media (min-width: 600px ) {
    #container {
        display: flex;
        /* flex-direction: row; */
    } 

    #main {
        /* width: 70%; */
        width: 30%;
    }

    #sidebar {
        width: 30%;
    }
}